/* FOOTER */
.footer {
    width: 100%;
    max-width: 100vw; /* Limita el ancho al 100% del viewport */
    background-color: #fff;
    color: #4f1d27;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: auto;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

.direccion-footer,
.contacto-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.direccion-footer a,
.contacto-footer a {
    text-decoration: none;
    color: #4f1d27;
    font-size: 1.5rem; /* Reduje el tamaño de la fuente */
    font-weight: normal; /* Bebas Neue no tiene variantes de peso */
    letter-spacing: 3px; /* Reduje el espaciado entre letras */
}

/* Logo Footer */
.logo-footer {
    width: 120px;
    height: auto;
}

/* RESPONSIVE FOOTER */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .direccion-footer,
    .contacto-footer {
        margin-bottom: 10px; /* Espaciado entre elementos en móviles */
    }

    .logo-footer {
        margin-top: 10px; /* Espaciado arriba del logo en móviles */
    }
}