/* FOOTER */
.footer {
    width: 100%;
    max-width: 100vw; /* Limita el ancho al 100% del viewport */
    background-color: #fff;
    color: #4f1d27;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: auto; /* Esto asegura que el footer se mantenga al final */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

.direccion-footer,
.contacto-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.direccion-footer a,
.contacto-footer a {
    text-decoration: none;
    color: #4f1d27;
    font-size: 1.5rem; /* Reduje el tamaño de la fuente */
    font-weight: normal; /* Bebas Neue no tiene variantes de peso */
    letter-spacing: 3px; /* Reduje el espaciado entre letras */
}

/* Logo Footer */
.logo-footer {
    width: 120px;
    height: auto;
}

/* RESPONSIVE FOOTER */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .direccion-footer,
    .contacto-footer {
        margin-bottom: 10px; /* Espaciado entre elementos en móviles */
    }

    .logo-footer {
        margin-top: 10px; /* Espaciado arriba del logo en móviles */
    }
}

@media (min-width: 992px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .direccion-footer {
        flex-direction: column;
        align-items: flex-start;
        text-align: left; /* Asegura que el texto esté alineado a la izquierda */
        margin-left: 20%; /* Centra entre el medio y la izquierda */
    }

    .contacto-footer {
        flex-direction: column;
        align-items: flex-end;
        text-align: right; /* Asegura que el texto esté alineado a la derecha */
        margin-right: 20%; /* Centra entre el medio y la derecha */
    }

    .contacto-footer a {
        font-size: 1.2rem; /* Reduce el tamaño de la fuente del email */
        margin: 0 10px; /* Espaciado entre el teléfono y el email */
    }
}

@media (max-width: 622px) {
    .direccion-footer a,
    .contacto-footer a {
        font-size: 1.2rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
        letter-spacing: 1px; /* Reduce el espaciado entre letras */
        word-wrap: break-word; /* Permite que el texto pase a la línea siguiente si es necesario */
    }
}

@media (max-width: 440px) {
    .direccion-footer a,
    .contacto-footer a {
        font-size: 0.9rem; /* Reduce aún más el tamaño de la fuente en pantallas muy pequeñas */
        letter-spacing: 0.5px; /* Reduce aún más el espaciado entre letras */
        word-wrap: break-word; /* Permite que el texto pase a la línea siguiente si es necesario */
    }
}
