/*---------------------------PROPIEDADES---------------------------------*/
.main-container-propiedades {
    min-height: 100vh; /* Asegura que el main ocupe al menos toda la altura de la pantalla */
    display: flex;
    align-items: center;
    flex-direction: column; /* Cambia la dirección del flex a columna */
}

.left-half {
    background-color: #fff; /* Color de la mitad izquierda */
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: 50vh; /* Ajusta la altura */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    overflow: hidden; /* Evita que las imágenes se desborden */
}

.carousel-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto; /* Adds vertical and horizontal margins */
}

.carousel-inner {
    width: 100%; /* Asegura que el carrusel ocupe el 100% del ancho */
    height: 100%; /* Asegura que el carrusel ocupe el 100% de la altura disponible */
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ajusta la imagen sin distorsionarla */
}

.right-half {
    background-color: #4f1d27; /* Color de la mitad derecha */
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: 50vh; /* Ajusta la altura */
    display: flex;
    flex-direction: column; /* Apila el contenido verticalmente */
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    align-items: center; /* Centra el contenido horizontalmente */
    padding-top: 20px; /* Espacio en la parte superior */
}

.text-content {
    color: white; /* Color del texto en la mitad derecha */
    text-align: center;
    width: 100%; /* Asegura que el texto ocupe todo el ancho */
    margin-bottom: 20px; /* Espacio entre el texto y el iframe */
}

.iframe-container {
    width: 90%; /* Reducimos el ancho del contenedor del iframe */
    max-width: 500px; /* Ancho máximo para el iframe */
    text-align: center; /* Centra el iframe horizontalmente */
    margin-top: 20px; /* Espacio entre el texto y el iframe */
}

.iframe-container iframe {
    width: 100%; /* El iframe ocupa todo el ancho de su contenedor */
    height: 200px; /* Altura reducida del iframe */
    border: 0; /* Elimina el borde del iframe */
}

@media (min-width: 768px) {
    .main-container-propiedades {
        flex-direction: row; /* Cambia la dirección del flex a fila en pantallas más grandes */
    }

    .left-half, .right-half {
        width: 50%; /* Ajusta el ancho a la mitad */
        height: 100vh; /* Asegura que ocupe toda la altura */
    }

    .right-half {
        justify-content: center; /* Centra el contenido verticalmente */
        padding-top: 0; /* Elimina el espacio superior */
    }

    .text-content {
        margin-bottom: 20px; /* Espacio entre el texto y el iframe */
        font-size: 1.5em; /* Aumenta el tamaño del texto */
    }

    .iframe-container {
        margin-top: 0; /* Elimina el espacio superior */
        width: 80%; /* Aumenta el ancho del contenedor del iframe */
        max-width: 700px; /* Aumenta el ancho máximo del iframe */
    }

    .iframe-container iframe {
        height: 300px; /* Aumenta la altura del iframe */
    }

    .descripcion {
        background-color: white; /* White background */
        color: #000000; /* Black text */
    }
}

@media (max-width: 767px) {
    .carousel-container {
        width: 80%;
        max-width: 600px;
        margin: 20px auto; /* Ensures the same behavior on smaller screens */
    }
    .iframe-container iframe {
        margin-top: -40px; /* Ajusta este valor según sea necesario */
    }

    .descripcion {
        background-color: #4f1d27; /* Vinotinto background */
        color: white; /* White text */
    }
}

.descripcion {
    text-align: justify; /* Justify text */
    padding: 2rem 2rem; /* Add padding on the sides */
}