/*---------------------------PROPIEDADES---------------------------------*/
.main-container-propiedades {
    min-height: 100vh; /* Asegura que el main ocupe al menos toda la altura de la pantalla */
    display: flex;
    align-items: center;
    flex-direction: column; /* Cambia la dirección del flex a columna */
}

.left-half {
    background-color: #fff; /* Color de la mitad izquierda */
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: 50vh; /* Ajusta la altura */
}

.right-half {
    background-color: #4f1d27; /* Color de la mitad derecha */
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: 50vh; /* Ajusta la altura */
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    color: white; /* Color del texto en la mitad derecha */
    text-align: center;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 768px) {
    .main-container-propiedades {
        flex-direction: row; /* Cambia la dirección del flex a fila en pantallas más grandes */
    }

    .left-half, .right-half {
        width: 50%; /* Ajusta el ancho a la mitad */
        height: 100vh; /* Asegura que ocupe toda la altura */
    }
}
